# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env.*

# typescript
*.tsbuildinfo
# Ignore android except specific required files
/android/*
!/android/gradlew
!/android/gradlew.bat
!/android/build.gradle
!/android/app/
!/android/app/build.gradle
!/android/app/src/
!/android/app/src/main/
!/android/app/src/main/AndroidManifest.xml
!/android/gradle/
!/android/gradle/wrapper/
!/android/gradle/wrapper/gradle-wrapper.properties
!/android/gradle/wrapper/gradle-wrapper.jar
!/android/scripts/
!/android/scripts/decode_google_services.js

# Firebase config
android/app/google-services.json

src/firebase.js
gitleaks-report.json

android/app/src/main/res/values/secrets.xml
google-services.json.base64